* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}

#projects {
  height: 100vh;
  background-color: bisque;
}
#welcome-section {
  height: 50vh;
  background-color: dimgray;
  color: azure;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#navbar {
  position: fixed;
}
