* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
#navbar {
  text-align: left;
}

#projects {
  background-color: bisque;
}

section {
  height: 100vh;
}
#welcome-section {
  background-color: dimgray;
  color: azure;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#navbar {
  position: fixed;
  width: 100vw;
  background-color: goldenrod;
  height: 40px;
  text-align: right;
}
img {
  width: 100%;
  height: 100%;
}
h1 {
  display: block;
  padding-top: 150px;
}
